/* 
    Document   : stile
    Created on : 27-nov-2013, 11.30.51
    Author     : Simone, Stefania, un pochino Dav - IDE
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-color: crimson;
    background-repeat: repeat;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    alignment-baseline: central;
    
}

#wrap {
    width: 1000px;
    min-height: 600px;
    margin: 0 auto;
}

header {
    height: 120px;
    width: 99%;
    
    text-align: center;
    line-height: 120px;
    border: 5px solid black;
    border-image: url("IMG/background_element.png") 5 5 5 5 round round;
    border-radius: 5px 5px 5px 5px;
    background-image: url("IMG/background_element_inside.png");
    background-repeat: repeat;
    font-size: 100px;
}

footer {
    height: 20px;
    line-height: 20px;
    width: 97%;
    padding: 0% 1%;
    text-align: left;
    clear: both;
    
    border: 5px solid black;
    border-image: url("IMG/background_element.png") 5 5 5 5 round round;
    border-radius: 5px 5px 5px 5px;
    background-image: url("IMG/background_element_inside.png");
    background-repeat: repeat;
}

#content {
    width: 100%;
    min-height: 440px;
    overflow: auto;
    background-image: url("IMG/background_wrap.png");
    background-repeat: repeat;
}

nav {
    width: 97%;
    height: 30px;
    line-height: 30px;
    padding: 0% 1%;
    
    border: 5px solid black;
    border-image: url("IMG/background_element.png") 5 5 5 5 round round;
    border-radius: 5px 5px 5px 5px;
    background-image: url("IMG/background_element_inside.png");
    background-repeat: repeat;
}

nav ul {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}
nav li {
    float: left;
    margin: 0px 10px;
}
nav a {
    display: block;
    
}

aside {
    width: 19%;
    float: right;
    
    border: 5px solid black;
    border-image: url("IMG/background_element.png") 5 5 5 5 round round;
    border-radius: 15px 15px 15px 15px;
    background-image: url("IMG/background_element_inside.png");
    background-repeat: repeat;
}
aside h3 {
    height: 15px;
    line-height: 15px;
}

article {
    width: 76%;
    padding: 0% 2%;
    float: left;
}
.article_registrazione {
    width: 96%;
}
article h3 {
    height: 15px;
    line-height: 15px;
}

.setting .cambiaPassword label {
    display: block;
    width: 320px;
    line-height: 25px;
    margin: 0px 5px;
}
.setting .cambiaPassword label input {
    
    width: 170px;
    float: right;
}

.catalogo {
    line-height: 25px;
}
.catalogo label {
    display: block;
    width: 270px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 0px 5px;
}
.catalogo label input {
    
    width: 170px;
    float: right;
}




table {
    border-width: 3px;
    width: 98%;
    margin: 0%;
    border-color: black;
    border-style: solid;
}
.catalogo table{
    margin: 10px 0px;
    clear: both;
    float: left;
}

th {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: right;
}

.c4 {
    width: 15%;
}
.c4 img {
    vertical-align: middle;
}
.c4 input {
    width: 75%;
} 
.c4 span {
    
}

.loginwarning {
    display: block;
}

.homeimage{
    width: 100%;
}